<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<form th:action="@{/user/create}" method="post" th:object="${user}">
    <label for="email">Email</label>
    <input id="email" name="email" th:field="*{email}" type="text"/>
    <label for="username">Username</label>
    <input id="username" name="username" th:field="*{username}" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" th:field="*{password}" type="password" />
    <button type="submit">Submit</button>
</form>

</body>
</html>