<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Show</title>
</head>
<body>
<h1 th:text="${post.title}"></h1>
<p th:text="${post.body}"></p>

<form th:action="@{'/posts/'+ ${post.id} + '/edit' }" method="get">
    <input type="submit" value="edit post" />
</form>

<form th:action="@{'/posts/' + ${post.id} +'/delete'}" method="post">
    <input type="submit" value="delete post" onclick="return confirm ('Are you sure you want to delete this post?')" />
</form>

</body>
</html>